/*INICIO FORMULARIO CONTACTO*/
.contacto{
    scroll-margin-top: 9ex;
}
#contacto{
    background: var(--color-fondo-section);
    padding: 50px 0px;
}
#contacto h4{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #4d4d5c;
}
#contacto form{
    max-width: 80%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 9px 20px -5px rgba(0,0,0, 0.59);
    border-radius: 30px;
    padding: 20px 20px;
}
.datos-form{
    display: flex;
}
.datos-form div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #4d4d5c;
}
form .inputicon input[type=text]{
    padding-left: 40px;
}
form .inputicon{
    position: relative;
}
form .inputicon i{
    position: absolute;
    left: 10px;
    top: 45px;
    padding: 12.5px 11px;
    color: #FFFFFF;
    transition: .5s;
    border: 1px solid #4bae77;
}
form .inputicon input[type=text]:focus + i{
    color: #2F4F4F;
}
form .inputicon.inputiconbg i{
background-color: #4bae77;

padding:  12.5px 10px;
border-radius: 4px 0 0 4px;
}
form input,
form textarea{
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #4d4d5c87;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    resize: none; /* disables resizability  */
}
form input:focus,
form textarea:focus{
    border: 1px solid #4bae77;
    box-shadow: 0 0 8px 0 #4bae77;
}
/*INICIO SCROLL TEXTAREA*/
form textarea::-webkit-scrollbar{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
form textarea::-webkit-scrollbar-track{
	background-color: #F5F5F5;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
form textarea::-webkit-scrollbar{
	width: .4vw;
	background-color: #F5F5F5;
}
form textarea::-webkit-scrollbar-thumb{
	border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
	background-color: rgba(58, 166, 0, 0.81);
}
/*FIN SCROLL TEXTAREA*/
form input::placeholder,
form textarea::placeholder{
    color: #4d4d5c87;
}
.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.boton-formulario .boton-saber-mas{
    display: block;
    border: 1px solid var(--color-boton-enviarcorreo);
    color: #0eb050;
    text-align: center;
    transition: 0.4s;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}
.boton-formulario .boton-saber-mas:hover{
    background: var(--color-boton-enviarcorreo-hover);
    color: #ffff;
}
/*FIN FORMULARIO CONTACTO*/