/*INICIO RESET*/
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
}
/*FIN RESET*/
/*INICIO SECTION*/
section[id]{
    border: 0px solid red;
}
/*FIN SECTION*/
/*INICIO SCROLL HTML*/
html{
    /*scrollbar-width: normal;
    scrollbar-color: red green;*/
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .5vw;
    border: 1px solid rgb(200, 200, 200);
}
html::-webkit-scrollbar-thumb{
    background-color: #283D3D;
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #2F4F4F;
}
html::-webkit-scrollbar-track{
    background-color: #5555;
}
html::-webkit-scrollbar-track:hover{
    background-color: #DCDCDC;
}
/*FIN SCROLL HTML*/
/*INICIO CABECERA BODY*/
.container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/*FINCABECERA BODY*/